.vertical-timeline-element-content {
  display: flex;
  flex-direction: column;
  background-color: #888888;
  color: #4f4f4f;
}

.timeline-title {
  color: #4f4f4f;
  text-transform: uppercase;
  font-size: 1.2rem !important;
  font-weight: 400 !important;
}

.timeline-subtitle {
  color: #ffcb74;
  font-size: 1rem !important;
  font-weight: 500 !important;
}

.timeline-range {
  color: #d1d1d1;
  font-size: 0.8rem !important;
  font-weight: 600 !important;
}

.timeline-description {
  color: #d1d1d1;
  font-size: 0.8rem !important;
  font-weight: 400 !important;
}

.timeline-diploma {
  color: #d1d1d1;
  font-size: 0.8rem !important;
  font-weight: 500 !important;
}
