@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-iron-50 text-3xl md:text-4xl uppercase font-mono;
}
    
h2 {
  @apply text-iron-200 text-3xl uppercase font-mono;
}

h3 {
  @apply text-3xl uppercase font-mono;
}

h4 {
  @apply text-2xl font-medium text-iron-50;
}

h5 {
  @apply text-iron-200 text-lg font-semibold;
}

ul {
  @apply leading-relaxed;
}

p {
  @apply font-light leading-relaxed text-iron-200;
}

.nav-btn {
  @apply text-center py-4 tracking-wide transition-all duration-300 text-navy-blue-100;
}

.nav-btn:hover {
  @apply text-navy-blue-300 drop-shadow-[0_0_6px_#f7f7f7];
}

.nav-container {
  @apply md:rotate-180 md:[writing-mode:vertical-rl] 
    space-y-2
    text-iron-100
    backdrop-blur-sm;

}

.nav-container a {
  @apply tracking-wide transition-all duration-300;
}

.nav-container a:hover {
  @apply text-navy-blue-300 drop-shadow-[0_0_6px_#f7f7f7];
}

.social-links-container {
  @apply flex flex-col space-y-2;
}

.social-links-container .social-icon, 
.icon {
  @apply text-iron-100 transition-all duration-300 inline-flex items-center justify-center;
}

.social-links-container .social-icon:hover, 
.icon:hover {
  @apply text-iron-50 scale-110 flex flex-col;
  filter: drop-shadow(0 0 6px #f7f7f7);
}

.social-links-container .social-icon:focus-visible {
  @apply outline-2 outline-offset-2;
}

.active-link {
  @apply border-b-4;
}

.skills {
  @apply flex flex-col rounded-md space-y-3 p-6;
}

.skill-name {
  @apply flex self-center text-[0.7rem] text-iron-200 font-mono;
}

.label {
  @apply text-iron-50 text-base font-mono;
}


.form-input-group {
  @apply flex-col space-y-2 text-iron-200 placeholder:text-iron-200/50 rounded-md;
}

.input,
.textarea {
  @apply block w-full p-2 border border-cornflower-blue-400/40 text-iron-50 rounded-md focus:ring-cornflower-blue-500 focus:border-navy-blue-700 bg-black-950;
}

.footer-container {
  @apply flex h-16 mt-auto items-center  justify-end p-6 bottom-0 right-0 fixed;
}

.footer-container p {
  @apply text-xs font-mono text-iron-50 font-light;
}

.page-title-container {
  @apply flex w-full
}

html {
  scrollbar-color: #888 transparent;
  scrollbar-width: thin;
}